@media(max-width : 1000px) {
    .navbar-main{
        background-color: #A2B6A6;
    }
    .navbar-collapse-main{
        text-align: center;
        background-color: #A2B6A6;
    }
    .navbar-main li a{
        width: 100%;
    }
    .nav-form{
        width: 100% !important;
        flex-direction: column;
        align-items: center;
    }
    .nav-form input{
        width: 50% !important;
    }

    .footer {
        padding-top: 5vh !important;
        padding: 0;
        height: 70vh;
    }
    .footer-top {
        flex-direction: column;
        width: 100vw;
    }
    .footer-sub-left {
        width: 100vw;
    }
    .footer-left {
        width: 100vw;
    }
    .footer-sub-right {
        width: 99%;
        margin-top: 2rem;
        padding: 0px 10px;
    }
    .footer-btn {
        padding: 0px 10px;
        font-size: 1rem !important;
    }
    .footer-top .footer-right, .footer-left li {
        font-size: 15px;
        width: 100%;
    }


    .home-main1-div {
        padding-top: 10rem;
        width: 90%;
        font-weight: 900;
    }
    .home-main1-div h2{
        font-size: 1.5rem;
    }
    #home-main3 {
        height: 70vh;
    }
    #home-main-images {
        z-index: 1111;
        left: 0rem;
    }
    #main-image1, #main-image4, #main-image2, #main-image3 {
        border-radius: 10px;
        margin: 5px;
    }
    #main-image1,
    #main-image4 {
    height: 55vw;
    width: 30vw;
    }

    #main-image2,
    #main-image3 {
    height: 27vw;
    width: 30vw;
    }
    
    #home-main2-card .home-cardBody{
        width: 60%;
    }
    .cardBody-imageDiv .imgB, .cardBody-imageDiv .imgF{
        margin-top: 2rem;
        height: 11vw !important;
    }
    .cardBody-imageDiv .imgB{
        height: 10vw !important;
        width: 12vw;
    }
    
   
    .about-main1-text{
        right: 0vw;
        top: 50vw;
    }
    .about-main-content .main-content {
        width: 90%;
        margin: 0;
        flex-direction: column;
    }
    .main-content ul{
        width: 90% !important;
        font-size: .8rem !important;
    }
    .about-main-content .main-content img{
        height: 40% ;
        width: 60%;
        position: relative !important;
        right: 0rem !important;
        border-radius: 10px;
        left: 0rem !important;
    }
    #about-main3 .main-content{
        margin-right: 0rem !important;
    }

    #about-main4{
        height: 120vh !important;
    }
    #about-main4-cards{
        height: 100vh !important;
        overflow-y: scroll;
    }
    #about-main4-cards .about-mainCards{
        width: 70vw;
        height: 90vw;
        margin-top: 8rem; 
        margin-left: 0rem !important;
        padding-bottom: 0 !important;
        font-size: .7rem;
    }
    #about-main4-cards .about-mainCards div{
        position: relative !important;
        bottom: 10vh !important;
    }
    
    #about-main4-cards .about-mainCards .card-body{
        margin-top: 0rem !important;
    }
    .about-mainCards img{
        height: 7rem !important;
        width: 7rem !important;
    }
    #about-main5{
        height: 30vh !important;
        padding: 5vw 7vw !important;
        font-size: .8rem;
    }


    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }
    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
    .swiper-slide{
        font-size: 13px;
        margin: 10px 2px;
    }
    .cardBody-imageDiv img{
        height: 15vw !important;
        border-radius: 10%;
    }
}
@media (max-width: 600px) {
    .home-main2 {
        background: #000 !important;
    }
    .cardBody-imageDiv .imgB,
    .cardBody-imageDiv .imgF {
        margin-top: 2rem;
        height: 17vw !important;
    }
    .cardBody-imageDiv .imgB{
        height: 16vw !important;
        width: 21vw;
    }
    
}


@media(max-width : 750px) {
    #home-main2{
        height: 180vh !important;
        font-size: .7rem;
    }
    #home-main2-card #cardBody-center{
        flex-direction: column;
        width: 100%;
    }
    
    #cardBody-center hr{
        rotate: 0deg !important;
        width: 60% !important;
    }
    #home-main3 {
        height: 50vh;
    }
    #home-main4{
        height: 200vh;
    }
    #home-main4-carousel , #home-main2-card{
        height: 90%;
        bottom: 3;
    }
    .swiper {
        height: 85%;
        background-color: transparent;
    }
    .swiper-slide h1,h4,h2{
        font-size: 4vw;
    }
    .swiper-slide span{
        font-size: .8rem;
    }
    .swiper-slide img{
        height: 11vw; 
        width: 11vw;
    }
}




