* {
    font-family: 'Cambria';
}

.nav-anchar {
    color: #272837 !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.45px;
    text-align: center;
}

.nav-anchar:hover {
    font-size: 20px;
    border-bottom: 1.5px solid #775847;
}

.nav-btn {
    background-color: #355326;
    width: 10rem;
    border-radius: 10px;
    border: none;
}

.nav-btn a {
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 40px 0px;
}

.nav-btn a:hover {
    color: #ffff;
}

.nav-icon {
    color: #272837;
}

.nav-input {
    background-color: #FFFDFD99 !important;
}

#home-main {
    font-family: 'Cambria';
}

#home-main1 {
    background-image: url('/plant-order/Images/WhatsApp\ Image\ 2024-05-09\ at\ 4.32.49\ PM.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    color: #ffff;
}

.home-main1-div {
    padding-top: 25rem;
    padding-left: 5rem;
    width: 38%;
    text-align: center;
}

.home-mainbtn {
    padding: 5px 70px;
    border: none;
    border-radius: 10px;
    background: #D5D8D6E5;
    color: #355326;
    font-weight: 900;
}
#home-main2{
    height: 85vh !important;
}
#home-main2 #home-main2-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home-main2-card #cardBody-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}
#home-main2-card .home-cardBody{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
}
.home-cardBody .cardBody-imageDiv{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
    transform-style: preserve-3d;
}

.cardBody-imageDiv .imgB, .cardBody-imageDiv .imgF{
    height: 8vw;
    border-radius: 15%;
    position: absolute;
    margin-bottom: 5rem;
    box-shadow: 5px 10px 10px #929292;
}
.cardBody-imageDiv .imgF{
    z-index: 2;
    backface-visibility: hidden;
}
.cardBody-imageDiv .imgB{
    z-index: 1;
    height: 7.5vw !important;
}
.home-cardBody:hover .cardBody-imageDiv{
    transform: rotateY(180deg);  
}

.home-cardBody .cardBody-btn{
    width: 100%;
    background-color: #355326;
    border: none;
    border-radius: 10px;
    padding: 7px;
    color: white;
}

#home-main3 {
    padding: 2rem;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #A2B6A6B2, #B39D96B2);
}

#home-main-images {
    margin-top: 2rem;
    z-index: 1111;
    position: absolute;
    left: 10rem;
}

#main-image1,
#main-image4 {
    height: 43vw;
    width: 25vw;
    border-radius: 40px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-image2,
#main-image3 {
    margin: 20px;
    border-radius: 40px;
    height: 21vw;
    width: 25vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes changeImage1 {
    0% {
        background-image: url("/plant-order/Images/Rectangle\ 228.png");
    }

    50% {
        background-image: url("/plant-order/Images/Rectangle\ 228\ \(1\).png");
    }

    100% {
        background-image: url("/plant-order/Images/Rectangle\ 228.png");
    }
}

@keyframes changeImage2 {
    0% {
        background-image: url("/plant-order/Images/Rectangle\ 229.png");
    }

    50% {
        background-image: url("/plant-order/Images/Rectangle\ 229\ \(1\).png");
    }

    100% {
        background-image: url("/plant-order/Images/Rectangle\ 229.png");
    }
}

@keyframes changeImage3 {
    0% {
        background-image: url("/plant-order/Images/Rectangle\ 230.png");
    }

    50% {
        background-image: url("/plant-order/Images/Rectangle\ 230\ \(1\).png");
    }

    100% {
        background-image: url("/plant-order/Images/Rectangle\ 230.png");
    }
}

@keyframes changeImage4 {
    0% {
        background-image: url("/plant-order/Images/Rectangle\ 231.png");
    }

    50% {
        background-image: url("/plant-order/Images/Rectangle\ 231\ \(1\).png");
    }

    100% {
        background-image: url("/plant-order/Images/Rectangle\ 231.png");
    }
}


#home-main4, #home-main2 {
    position: relative;
    text-align: center;
    height: 130vh;
    width: 100%;
}

#home-main4-image {
    height: 100%;
    width: 100%;
    background: url("https://s3-alpha-sig.figma.com/img/7455/4ed4/70ddde5d788bd3516bb93ef81f335757?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KMwVttZkaOZcInq0vP3K3kxmtMAw76NQOgw30~2VbT8Pxk1wj6uyq4WYLB6drqU~ujuVykmTdv5tdElcS26RDVhAKVOt~H69Zbc0KRnORYJNkrVPwef0SbgwZHEk4uGShuyauAdEFTkhqJqLnHE3sUS4mszvu3WsdJqa0Hpfy4HrHdjgotp-15h08DNnhWKVdR2OiVOYdF2UBGa73XIC84BbSKxUut5RukpWgnJMeBB-y98txMBd5lHSlGj6MLZjnF4j3ZXTzJyKUiCOsCSvdj8bxVNzmxFFDQN6h6H5mqUwZudrYpusD4tkC1MSi6TTOcecWe62fliMATeDZ3IuWg__");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .3;
}
#home-main4-carousel , #home-main2-card{
    height: 75%;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.swiper {
    width: 70%;
    background-color: transparent;
}
.swiper .swiper-slide{
    padding: 2rem 0rem;
    font-size: 15px;
    background: #fff;
    border: none;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 7px 10px 10px #e0dfdf;
}
.swiper-slide img{
    height: 6vw; 
    width: 6vw;
    background-color: #775847; 
    border-radius: 50%;
}
.swiper-slide h1{
    font-size: 2vw;
}



.footer {
    height: 48vh;
    width: 100%;
    background: #B39D96;
    color: #ffff;
    padding: 45px 70px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

.footer-top .footer-right,
.footer-left li {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

.footer-sub-left {
    width: 40%;
}

.footer-left h2 {
    margin-left: 30px;
}

.footer-left li {
    list-style: none;
    line-height: 35px;
}

.footer-sub-right {
    width: 40%;
    margin-top: 5rem;
}

.footer-btn {
    background: #775847 !important;
    padding: 0px 20px;
    border: none !important;
    color: #ffff;
    font-weight: 400 !important;
    font-size: 20px !important;
}

.footer-icon {
    text-align: right;
}

.footer-icon i {
    color: #775847;
    text-align: center;
    font-size: 25px;
    padding-top: 3.5px;
    padding: 5px;
}