* {
  font-family: 'Cambria';
}


/* Navbar */

.nav-anchar {
  color: #272837 !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.45px;
  text-align: center;
  z-index: 1111;
}

.nav-anchar:hover {
  font-size: 20px;
  border-bottom: 1.5px solid #775847;
}

.nav-btn {
  background-color: #355326;
  width: 10rem;
  border-radius: 10px;
  border: none;
}

.nav-btn a {
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 40px 0px;
}

.nav-btn a:hover {
  color: #ffff;
}

.nav-icon {
  color: #272837;
}

.nav-input {
  background-color: #FFFDFD99 !important;
}



/* Home..... */

.about-main1-bg {
  height: 100%;
  width: 100%;
  background-image: url("../Images/About-Images/AboutBg.jpg") !important;
  background-position: center;
  background-size: cover;
  opacity: .5;
}

.about-main1-text {
  color: #355326;
  position: absolute;
  font-weight: 900;
  top: 8vh;
  right: 30vw;
  font-family: 'Cambria';
}

#about-main1-bg2 {
  background-image: url('../Images/About-Images/AboutBg1.jpg') !important;
}

#about-main1-bg3 {
  background-image: url('../Images/About-Images/AboutBg3.jpg') !important;
}

#about-main4-cards .about-mainCards{
  height: 30vw;
  width: 26vw; 
  margin-top: 9rem; 
  color: #000; 
  border: none; 
  border-radius: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: left; 
  box-shadow: 5px 10px 10px #514138;
}

.about-main-content .main-content {
  height: 60vh;
  width: 55vw;
  border-radius: 20px;
  border: 2px solid #355326;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
}

#home-main,
#about-main {
  font-family: 'Cambria';
}

#home-main1,
#about-main1,
#about-main2,
#about-main3 {
  background-image: url('../Images/HomeBg1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  color: #ffff;
}

.home-main1-div {
  padding-top: 25rem;
  padding-left: 5rem;
  width: 38%;
  text-align: center;
}

.home-mainbtn {
  padding: 5px 70px;
  border: none;
  border-radius: 10px;
  background: #D5D8D6E5;
  color: #355326;
  font-weight: 900;
}

#home-main2 {
  height: 85vh !important;
}

#home-main2 #home-main2-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-main2-card #cardBody-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

#home-main2-card .home-cardBody {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}

.home-cardBody .cardBody-imageDiv {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease .5s;
  transform-style: preserve-3d;
}

.cardBody-imageDiv .imgB,
.cardBody-imageDiv .imgF {
  height: 8vw;
  border-radius: 15%;
  position: absolute;
  margin-bottom: 5rem;
  box-shadow: 5px 10px 10px #929292;
}

.cardBody-imageDiv .imgF {
  z-index: 2;
  backface-visibility: hidden;
}

.cardBody-imageDiv .imgB {
  z-index: 1;
  height: 7.5vw;
}

.home-cardBody:hover .cardBody-imageDiv {
  transform: rotateY(180deg);
}

.cardBody-btn {
  width: 100%;
  background-color: #355326;
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: white;
}

#home-main3 {
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #A2B6A6B2, #B39D96B2);
}

#home-main-images {
  margin-top: 2rem;
  z-index: 1111;
  position: absolute;
  left: 10rem;
}

#main-image1,
#main-image4 {
  height: 43vw;
  width: 25vw;
  border-radius: 40px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main-image2,
#main-image3 {
  margin: 20px;
  border-radius: 40px;
  height: 21vw;
  width: 25vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes changeImage1 {
  0% {
    background-image: url("../Images/Rectangle\ 228.png");
  }

  50% {
    background-image: url("../Images/Rectangle\ 228\ \(1\).png");
  }

  100% {
    background-image: url("../Images/Rectangle\ 228.png");
  }
}

@keyframes changeImage2 {
  0% {
    background-image: url("../Images/Rectangle\ 229.png");
  }

  50% {
    background-image: url("../Images/Rectangle\ 229\ \(1\).png");
  }

  100% {
    background-image: url("../Images/Rectangle\ 229.png");
  }
}

@keyframes changeImage3 {
  0% {
    background-image: url("../Images/Rectangle\ 230.png");
  }

  50% {
    background-image: url("../Images/Rectangle\ 230\ \(1\).png");
  }

  100% {
    background-image: url("../Images/Rectangle\ 230.png");
  }
}

@keyframes changeImage4 {
  0% {
    background-image: url("../Images/Rectangle\ 231.png");
  }

  50% {
    background-image: url("../Images/Rectangle\ 231\ \(1\).png");
  }

  100% {
    background-image: url("../Images/Rectangle\ 231.png");
  }
}


#home-main4,
#home-main2 {
  position: relative;
  text-align: center;
  height: 130vh;
  width: 100%;
}

#home-main4-image {
  height: 100%;
  width: 100%;
  background: url("https://s3-alpha-sig.figma.com/img/7455/4ed4/70ddde5d788bd3516bb93ef81f335757?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KMwVttZkaOZcInq0vP3K3kxmtMAw76NQOgw30~2VbT8Pxk1wj6uyq4WYLB6drqU~ujuVykmTdv5tdElcS26RDVhAKVOt~H69Zbc0KRnORYJNkrVPwef0SbgwZHEk4uGShuyauAdEFTkhqJqLnHE3sUS4mszvu3WsdJqa0Hpfy4HrHdjgotp-15h08DNnhWKVdR2OiVOYdF2UBGa73XIC84BbSKxUut5RukpWgnJMeBB-y98txMBd5lHSlGj6MLZjnF4j3ZXTzJyKUiCOsCSvdj8bxVNzmxFFDQN6h6H5mqUwZudrYpusD4tkC1MSi6TTOcecWe62fliMATeDZ3IuWg__");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .3;
}

#home-main4-carousel,
#home-main2-card {
  height: 75%;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.swiper {
  width: 70%;
  background-color: transparent;
}

.swiper .swiper-slide {
  padding: 2rem 0rem;
  font-size: 15px;
  background: #fff;
  border: none;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 7px 10px 10px #e0dfdf;
}

.swiper-slide img {
  height: 6vw;
  width: 6vw;
  background-color: #775847;
  border-radius: 50%;
}

.swiper-slide h1 {
  font-size: 2vw;
}


/* Footer */

.footer {
  height: 48vh;
  width: 100%;
  background: #B39D96;
  color: #ffff;
  padding: 45px 70px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.footer-top .footer-right,
.footer-left li {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.footer-sub-left {
  width: 40%;
}

.footer-left h2 {
  margin-left: 30px;
}

.footer-left li {
  list-style: none;
  line-height: 35px;
}

.footer-sub-right {
  width: 40%;
  margin-top: 5rem;
}

.footer-btn {
  background: #775847 !important;
  padding: 0px 20px;
  border: none !important;
  color: #ffff;
  font-weight: 400 !important;
  font-size: 20px !important;
}

.footer-icon {
  text-align: right;
}

.footer-icon i {
  color: #775847;
  text-align: center;
  font-size: 25px;
  padding-top: 3.5px;
  padding: 5px;
}


/* // */

/* contact us */
.cname {
  margin-top: 7px;
  font-size: 15px;
  margin-left: 10px;
}

.cnamec {
  height: 10vh;
  width: 100%;
  display: flex;
}

.ccontent1,
.ccontent2 {
  /* height: 65px; */
  /* top: 240px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: Cambria;
  font-size: 13px;

  /* background-color: aqua; */
  /* position: absolute; */
}

.ccontent1 {
  gap: 0px;
  opacity: 0px;
  text-align: left;
}

.ccontent2 {
  font-size: medium;
  display: inline-block;
}



.flname {
  display: flex;
  justify-content: space-between;
  /* display: flex; */
}

.cemail {
  display: contents;
  justify-content: space-between;
  margin-left: 20px;
  width: 100%;
}

.cform {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 7rem;
}

.cmessage {
  width: 100%;

}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}

lebel {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;

}

.ccapchabox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.ccpatcha1 {
  display: flex;
  align-items: center;
}

.ccpatcha1 input[type="chechbox"] {
  margin-right: 10px;
}

.ccpatcha1 p {
  margin: 0;
}

.cimg .img1 {
  width: 50px;
  height: 50px;
}

.epage {
  background-color: #b39d96;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}


.cdate,
.cinfo,
.cconf {
  background-color: aliceblue;
}

.conf {
  margin-top: 30px;
  margin-left: 2rem;
  background-color: #b39d96;

}

.fccart {
  border: #111 solid 2px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-top: 2px;
  margin-bottom: 0px;
  width: 70%;
  height: 250px;
  line-height: 15px;

}


textca {
  line-height: 10px;
}

.cfimg {
  height: 100px;
  width: 100px;
  margin: 1rem;
}

.fccart p {
  margin-top: 3.5rem;

}

.educate {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2014/07/22/13/38/poppies-399409_1280.jpg");
  /* display: flex; */
}

.card {
  display: flex;
  width: 20rem;
  border-left: 2px solid #000;
  margin-right: 10px;
  justify-content: space-around;
  margin-left: 90px;

}

/* 
.card img{
  margin: 25px;
  height: 50px;
  width: 100px;
} */









/* visit confim  a vista*/

.h-main {
  margin-top: 30px;
  height: 200px;
  width: 100%;
  display: flex;
  background: linear-gradient(107.38deg, rgba(162, 182, 166, 0.7) 6.27%, rgba(179, 157, 150, 0.7) 92.02%);
  justify-content: space-around;

}


.v-main {
  margin-top: 3rem;
  margin-bottom: -2rem;
  margin-left: 40rem;
}


.v-img img {
  height: 200px;
  width: 200px;
  margin-top: -60px;
  margin-left: 30px;
  border-radius: 10%;


}

.main-text {
  display: flex;
  height: 200px;
  margin-left: 4rem;
  margin-top: 1rem;
}

.v-se-img {
  margin-left: 200px;

}

.v-se-img img {
  display: inline-block;
  margin: 1rem;
  position: relative;

  height: 250px;
  width: 400px;
  border-radius: 20px;

}

.v-s-ptext {
  color: rgba(228, 67, 67, 1);
  line-height: 15px;
  margin-top: -100px;
  font-size: 10px;
  margin-left: 15px;
}

.cl-text {
  margin-left: 4rem;
  margin-right: 5px;
}


.tchead {
  font-size: medium;
}

.v-btnbbok {
  width: 100%;
  background: rgba(53, 83, 38, 1);
  color: bisque;
  font-size: small;
}

.donatebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 20px;
  background: linear-gradient(280.59deg, rgba(119, 88, 71, 0.83) 26.43%, rgba(53, 83, 38, 0.76) 81.53%);

}

.btn-donate {
  background-color: rgba(53, 83, 38, 1);
  color: antiquewhite;
  font-size: small;
  margin-bottom: 5px;

}

.c-name-donate {
  margin-top: 20px;
  margin-bottom: -10px;
}

.vb-pageing {
  margin-left: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 30px;
  font-size: medium;
  background-color: #355326;

}


/* vista page b css */
.ts-text {
  border-left: #355326 solid 2px;
  margin: 2px;
}




.tb-main {
  margin: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.tb-mainleft {
  height: 400px;
  width: 49%;
  margin: 5px;
}

.tb-mainright {
  display: flex;
  height: 400px;
  width: 49%;
  margin: 5px;
  justify-content: space-around;
}

.cp-left-text {
  color: rgba(238, 45, 45, 1);

}

.dbtime {
  margin-top: 15px;
  margin-left: 5px;
}


/* Indoor Plants Page CSS Start */
.indore-plants-image {
  border-radius: 25px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -90px;
}

.indore-plants-card-image {
  border: solid 1px !important;
  width: 200px;
  border-radius: 25px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.indoor-plant-image {
  padding-bottom: 120px;
}



.right-leaf {
  color: #A2B6A6;
  width: 52px;
  height: 46.01px;
  top: -0px;
  left: 0.01px;
  gap: 0px;
  opacity: 0px;

}

.left-leaf {
  color: #A2B6A6;
  width: 52px;
  height: 46.01px;
  top: -0px;
  left: 51.99px;
  gap: 0px;
  opacity: 0px;


  rotate: -180;

}

.fa-star {
  color: yellow !important;
}

/* Indoor Plants Page CSS End */


/*  */


/* sign up page css  */

.s-signup{
    
  height: 600px;
  width: 900px;
  margin: 20px;
  margin-left: 150px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
   

}

.f-signup, .s-f-signup{
  height: 100%;
  width: 50%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  
  

 
 
  
}

.s-f-signup{
background: rgba(153, 151, 151, 0.3) !important;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


 
}
.s-s-text{
  line-height: 1rem;
  
}

.f-signup img{
  height: 100%;
  width: 100%;
}


.c-name-donate {
margin-top: 20px;
margin-bottom: -10px;
}

.vb-pageing {
margin-left: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: space-around;
width: 80%;
height: 30px;
font-size: medium;
background-color: #355326;

}


/* vista page b css */
.ts-text {
border-left: #355326 solid 2px;
margin: 2px;
}




.tb-main {
margin: 20px;

display: flex;
justify-content: space-evenly;
align-items: center;

}


.tb-mainleft {
height: 400px;
width: 49%;
margin: 5px;
}

.tb-mainright {
display: flex;
height: 400px;
width: 49%;
margin: 5px;
justify-content: space-around;
}

.cp-left-text {
color: rgba(238, 45, 45, 1);

}

.dbtime {
margin-top: 15px;
margin-left: 5px;
}


/* Indoor Plants Page CSS Start */
.indore-plants-image {
border-radius: 25px !important;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: -90px;
}

.indore-plants-card-image {
border: solid 1px !important;
width: 200px;
border-radius: 25px;
padding-left: 20px;
padding-bottom: 10px;
}

.indoor-plant-image {
padding-bottom: 120px;
}



.right-leaf {
color: #A2B6A6;
width: 52px;
height: 46.01px;
top: -0px;
left: 0.01px;
gap: 0px;
opacity: 0px;

}

.left-leaf {
color: #A2B6A6;
width: 52px;
height: 46.01px;
top: -0px;
left: 51.99px;
gap: 0px;
opacity: 0px;
rotate: -180;

}

.fa-star {
color: yellow !important;
}


/* sign up page css  */




/* Payment address page css start  */

.p-main{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 50% ;
  background-color: #d9d7d7;
  position: relative;
  align-items: center;
  margin-left: 25%;

}

.p-delevery{
  margin-left: 25%;

}

.f-and-lbtn{
  margin-left: 25%;
  display: flex;
margin-left: 25%;
  
}




.address{
  display: flex;
  margin: auto;
  margin-left: 0%; 
  width: 600px;
  height: 90px;
 
}
.payment-address{
  margin-left: 25%;

}


.rowsbot{
  margin-left: 24%;
  width: 50%;
  display: flex;
}

.paymentbtm{
display: flex;
margin: 20;
margin-left: 25%;
}

.paymentbtm button{
 
  background: #355326;
  margin: 30px;
  width: 100px;
  
}

.Continuebtn button{
  margin-left: 25%;
  background: #355326;

}

.hoobtn button {
  margin-left: 25%;
  width: 50%;
  display: flex;
  color: white;
  justify-content: space-between;
  background: #355326;
  

}
.hoobtn{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 50% ;
  position: relative;
  align-items: center;
  margin-left: 13%;
}

.continuew1 {
  display: flex;
  width: 100%;
  text-align:  center;
  background: #355326 !important;


}

.continue {
  display: flex;
  margin-left: 25%;
  width: 50%;
  display: flex;
  color: white;
  justify-content: space-between;
  background: #355326;
  text-align: center;
  
}


 



/* payment address page css end  */




/* payment methode page star */

.p-main{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 50% ;
  background-color: #d9d7d7;
  position: relative;
  align-items: center;
  margin-left: 25%;
}

.p-edit{
    margin-left: 25%;
  }

  .select-payment{
  
   margin-left: 25%;
  }

  .pay-with{
       margin-left: 25%;
  }

.p-img{
  margin-left: 25%;
}

  .p-img img{
    
    margin-left: -200px;
    height: 30px;
    margin-top: -50px
    
  }

  .netbanking{
        margin-left: 25%;
        width: 300px;
       

  }
  .submitBt{
    background: #355326;
    color: white;
    width: 300px;
    margin-left: -82px;
    position: relative;
    justify-content: space-between;
    text-align: center;
    
  }

 


  .upiapp{
     margin-left: 25%;
     padding: 5px;
     border: 0.5px solid black;
     width: 30%;
  }

  .pay-btn{
    margin-left: 25%;
  }

  .cod{
     margin-left: 25%;
  }


/* payment methode page end  */





/* payment conformation pgae start */

.p-main{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 50% ;
  background-color: #d9d7d7;
  position: relative;
  align-items: center;
  margin-left: 25%;

}

.paymentconformation{
  margin-left: 25%;
}

.estimate{
  margin-left: 25%;


}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.product-card {

  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 700px;
  height: 200px;
  margin-left: 25%;
}



.bordqt{
height: 100px;
width: 90px;
  border: solid 0.5px black;
  justify-content: center;
  justify-content: space-evenly;
}

.quantity button{
  height: 30px;
  margin: auto;
  background-color: white;
}

.qtyok{
  margin-left: 10px;
}

.product-card img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1;
}

.product-details h2 {
  font-size: 18px;
  margin: 0;
}

.price {
  font-size: 16px;
  color: #007bff;
}

.quantity {
  display: flex;
  align-items: center;
  margin: auto;
}

.quantity button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 5px;
}




.m-plant p{
  /* margin-left: 25%; */
  font-size: 11px;
  margin-left: 20px;
  display: flex;
  margin-top: 20px;

}

.m-btn {
  background-color: #929292;
  height: 3.5rem;
  width: 5rem;
  margin-top: 60px;
  margin-right: 350px;
  display: flex;


}

.m-btn button{
  height: 1rem;
  width: 1rem;
  margin-left: 20px;

}



.subtotal{
  margin-left: -10%;
  display: flex;
justify-content: space-evenly;
}

.orderbtn{
  margin-left: 21%;
  width: 100%;
  background: #355326;
  width: 50%;

}


.price12{
  margin-left: -05%;
}



/* payment conformation page end */



/* *********************** Facilities page css start  ranjit *************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar css  starts  */
*{
  font-family: 'Cambria';
}
.nav-anchar{
  color: #272837 !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.45px;
  text-align: center; 
}
.nav-anchar:hover{
  font-size: 20px;
  border-bottom: 1.5px solid #775847;
}
.nav-btn{
  background-color: #355326;
  width: 10rem;
  border-radius: 10px;
  border: none;
}
.nav-btn a{
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 40px 0px;
}
.nav-btn a:hover{
  color: #ffff;
}
.nav-icon{
  color: #272837;
  /* color: #fff; */
}
.nav-input{
  background-color: #FFFDFD99 !important;
}

/* Navbar css   ends  */

.maindiv {
  text-align: center;
  
  /* display: flex; */
}

#box {
  height: 75vh;
  width: 100%;
  /* border: 2px solid red; */
  background-image: url(../Images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.satisfactory-a {
  color: #355326;
  margin-top: 35px;
  text-align: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}

.main-2 {
  /* display: flex; */
  /* justify-content: flex-start; */
  float: left;

}

.main-3 {
  /* border: 2px solid red; */
  height: 40vh;
  width: 35vw;
  background-image: url(../Images/plant-2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 15px black;
  border-radius: 20px;
  margin-left: 210px;
  margin-top: 150px;
  position: static;
  position: relative;
  float: left;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;

  /* background-position: 100px 100px; */

}

.main-4 {
  border: 1px solid rgb(14, 13, 13);
  height: 48vh;
  width: 40vw;
  border-radius: 16px;
  /* padding: 25px; */
  margin-left: 680px;
  margin-top: 125px;
  margin-right: 50px;
  box-shadow: 50px solid black;/
  /* border-radius: 20px; */
  /* position: fixed; */

}

.satisfactory-b {
  text-align: center;
  padding: 0px;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 60px;
  margin-right: 50px;
  color: #355326;

}

.satisfactory-c {
  padding: 20px;
  width: 350px;
  margin-left: 220px;
  text-align: left;
  font-size: largeer;

  /* font-size: large; */


}

.satisfactory-d {
  height: 4.2vh;
  width: 18vw;
  border-radius: 6px;
  margin: 5px;
  background-color: green;
  color: aliceblue;
  font-weight: bolder;
  margin-left: 0px;
  margin-top: 30px;
  cursor: pointer;
}

  /* Botanical garden page css end  */

  /* ***************************************************************** */

  /* Educate page css starts  */
  .educatemaindiv{
    margin-top: 160px;
  }





.educate-main-a {
  background-image: url(../Images/bg2.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.2;
  /* position: absolute; */
  margin-top: 120px;
  /* border: 10px solid red; */
}

.educate-main {
  margin-top: -520px;
  margin-left: 80px;
  


}

.educate-main h2 {
  text-align: center;
  margin: 10px;
  margin-top: -50px;
}

.educate-main p {
  text-align: center;
  justify-content: center;
  width: 230px;
  margin-left: 60px;
  /* border: 2px solid red; */

}

.educatebtn-a {
  height: 33px;
  width: 250px;
  background-color: rgb(3, 68, 3);
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 25px;
  color: white;
  cursor: pointer;
  /* border: 2px solid red; */
}

.educatebtn-b {
  height: 33px;
  width: 270px;
  background-color: rgb(90, 50, 50);
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 55px;
  color: white;
  cursor: pointer;
}

.educatebtn-c {
  height: 33px;
  width: 250px;
  background-color: rgb(3, 68, 3);
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.educate-a {
  float: left;
  /* border: 2px solid black; */
  height: 180px;
  width: 330px;
  padding: 10px;
  margin: 10px;
  /* margin-top: 140px; */
  margin-left: 150px;
  margin-bottom: 1-850px;

}

.educate-b {
  /* border: 2px solid black; */
  height: 180px;
  width: 330px;
  margin: 10px;
  /* margin-top: -200px; */
  float: left;
  /* margin-top: 50px; */

}

.educate-c {
  /* border: 2px solid black; */
  height: 180px;
  width: 330px;
  margin: 10px;
  float: left;
  /* margin-top: 140px; */
  /* margin-top: -200px; */

}

.green-1 {
  /* border: 2px solid red; */
  height: 70px;
  width: 95px;
  margin-left: 120px;
  background-color: rgb(18, 218, 18);
  border-radius: 10px;
  /* margin-top: 150px; */
}

.green-2 {
  /* border: 2px solid red; */
  height: 70px;
  width: 95px;
  margin-left: 120px;
  background-color: rgb(131, 77, 77);
  border-radius: 10px;
}

.educate-main-a {
  color: rgb(87, 67, 67);
  margin-top: 355px;
  padding: 40px;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;

}

/* flip effect css starts for card 1  */
/* Container for the entire flip card */
.flip-card1 {
  height: 70px;
  width: 95px;
  margin-left: 120px;
  margin-top: -10px;
  border-radius: 10px;
  perspective: 1000px;
  /* Add perspective for 3D effect */
}

/* Inner container for flipping */
.flip-card-inner1 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  /* Maintain 3D positioning of child elements */
}

/* Style for front and back of the card */
.flip-card-front1,
.flip-card-back1 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* Hide back side initially */
}

/* Style for front of the card */
.flip-card-front1 {
  background-color: #b92c2c;
  background-image: url(../Images/cart-1.PNG);
  background-position: 100% 100%;
  background-size: cover;
  color: #333;
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Style for back of the card */
.flip-card-back1 {
  background-color: #4CAF50;
  color: white;
  transform: rotateY(180deg);
  /* Initially hide the back side */
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Rotate the inner container when hovered to create flip effect */
.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

/* flip effect css end for card 1  */





/* flip effect css starts for card 2  */
/* Container for the entire flip card */
.flip-card2 {
  height: 70px;
  width: 95px;
  margin-left: 120px;
  margin-top: -10px;
  border-radius: 10px;
  perspective: 1000px;
  /* Add perspective for 3D effect */
}

/* Inner container for flipping */
.flip-card-inner2 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  /* Maintain 3D positioning of child elements */
}

/* Style for front and back of the card */
.flip-card-front2,
.flip-card-back2 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* Hide back side initially */
}

/* Style for front of the card */
.flip-card-front2 {
  background-color: #b92c2c;
  background-image: url(../Images/cart-2.PNG);
  background-position: 100% 100%;
  background-size: cover;
  color: #333;
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Style for back of the card */
.flip-card-back2 {
  background-color: #4CAF50;
  color: white;
  transform: rotateY(180deg);
  /* Initially hide the back side */
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Rotate the inner container when hovered to create flip effect */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* flip effect css end for card 2  */




/* flip effect css starts for card 3  */
/* Container for the entire flip card */
.flip-card3 {
  height: 70px;
  width: 95px;
  margin-left: 120px;
  margin-top: -10px;
  border-radius: 10px;
  perspective: 1000px;
  /* Add perspective for 3D effect */
}

/* Inner container for flipping */
.flip-card-inner3 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  /* Maintain 3D positioning of child elements */
}

/* Style for front and back of the card */
.flip-card-front3,
.flip-card-back3 {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* Hide back side initially */
}

/* Style for front of the card */
.flip-card-front3 {
  background-color: #b92c2c;
  background-image: url(../Images/cart-3.PNG);
  background-position: 100% 100%;
  background-size: cover;
  color: #333;
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Style for back of the card */
.flip-card-back3 {
  background-color: #4CAF50;
  color: white;
  transform: rotateY(180deg);
  /* Initially hide the back side */
  border-radius: 10px;
  margin-bottom: 200px;
  margin-top: -60px;
}

/* Rotate the inner container when hovered to create flip effect */
.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

/* flip effect css end for card 3  */

.educate-title {
  position: absolute;
  font-weight: bolder;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 450px;
  margin-left: 700px;
  /* justify-content: center; */
  /* display: flex; */
  align-items: center;

}

/* educate css page css end  */
/* ************************************************************************ */

.plan-main {
  /* border: 2px solid black; */
  margin-top: 450px;
  height: 100vh;

}

.planh2 h2{
  /* margin: 40px; */
  margin-top: -360px;
  font-weight: 900;
  color: #355326;
  font-size: 2rem;
  text-align: center;
  /* border: 2px solid red; */
}

.plan-para {
  border: 2px solid red;
  height: 180px;
  border: 1px solid rgb(87, 72, 72);
  height: 320px;
  width: 540px;
  border-radius: 16px;
  /* padding: 25px; */
  margin-left: 310px;
  margin-top: 130px;
  margin-right: 50px;
  box-shadow: 50px solid black;/
}

.plan-parah2 {
  text-align: center;
  padding: 0px;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-right: 150px;
  color: #333;
  font-weight:bolder;
  /* border: 2px solid red ; */

}

.plan-parap {
  padding: 15px;
  width: 350px;
  margin-left: 60px;
  text-align: left;
  
}

.plan-parabtn {
  height: 4.5vh;
  width: 18vw;
  border-radius: 6px;
  margin: 5px;
  background-color: rgb(4, 66, 4);
  color: aliceblue;
  font-weight: bolder;
  margin-right: 90px;
  margin-top: 40px;
  cursor: pointer;
}

.imagediv {
  height: 260px;
  width: 370px;
  background-image: url(../Images/plan-image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* text-shadow: 15px black; */
  border-radius: 20px;
  margin-left: 770px;
  margin-top: -285px;
  /* position: static; */
  /* position: relative; */
  float: left;
  box-shadow: 0px 0px 10px 0px black;
  cursor: pointer;
}


/* .donate-main{ */
  /* background-image : linear-gradient(#775847D4 , #355326C2 ); */
  /* border: 2px solid red; */
  /* margin-top: 100px; */
  /* height: 180vh; */
  /* position: 100px 100px; */
  /* padding: 20px; */
  /* position: absolute; */
  /* margin-bottom: 40px; */
  
/* } */
.donatebtn{
  background-color: #355326;
  color: white;
  width: 190px;
  height: 25px;
  margin-top: 10px;
  
}
.donateh3 h3{
  color: white;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 40px;
  padding-top: 35px;
  /* border: 2px solid  rebeccapurple; */
}
.donatep{
  color: white;
  text-align: center;
  width: 650px;
  justify-content: center;
  margin-left: 350px;
}
.donatediv{
  height: 50vh;
  margin-top: -10px;
  /* border: 2px solid red; */
  background-image : linear-gradient(#775847D4 , #355326C2 );
}


/* ************ Footer starts *********** */

.footer{
  position: relative;
  bottom: 0;
  height: 45vh;
  width: 100%;
  background: #B39D96;
  color: #ffff;
  padding: 15px 70px;
  /* margin-top: 2200px; */
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}
.footer-top .footer-right, .footer-left li{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.footer-sub-left{
  width: 40%;
}
.footer-left h2{
  margin-left: 30px;
}
.footer-left li{
  list-style: none;
  line-height: 35px;
}
.footer-sub-right{
  width: 40%;
  margin-top: 5rem;
}
.footer-btn{
  background: #775847 !important;
  padding: 0px 20px;
  border: none !important;
  color: #ffff;
  font-weight: 400 !important;
  font-size: 20px !important;
}
.footer-icon{
  text-align: right;
}
.footer-icon i{
  color: #775847;
  text-align: center;
  font-size: 25px;
  padding-top: 3.5px;
  padding: 5px;
}
/* ************ Footer ends *********** */


/* *********************** Facilities page css  end *************************** */


/* *********************** explore page css start *************************** */

*{
  font-family: 'Cambria';
}

/* *******************Navbar starts *************** */
.nav-anchar{
  color: #272837 !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.45px;
  text-align: center; 
}
.nav-anchar:hover{
  font-size: 20px;
  border-bottom: 1.5px solid #775847;
}
.nav-btn{
  background-color: #355326;
  width: 10rem;
  border-radius: 10px;
  border: none;
}
.nav-btn a{
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 40px 0px;
}
.nav-btn a:hover{
  color: #ffff;
}
.nav-icon{
  color: #272837;
  /* color: #fff; */
}
.nav-input{
  background-color: #FFFDFD99 !important;
}
/* *******************Navbar ends *************** */

.facilities{
  background-image : linear-gradient(#7e9683b2 , #B39D96B2 );
  width: 100%;
  /* border: 2px solid red; */
}
.facilities p{
  /* border: 2px solid red; */
  width: 450px;
  margin: 120px 540px ;
  color: white;
  height: 40vh;
  text-align: left;
  padding-top: 10px;
  /* border: 2px solid red; */
}

.facilitiesbg1 img {
  /* border: 2px solid red; */
  height: 300px;
  width: 360px;
  /* position: 100px 100px; */
  background-size: cover;
  /* border: 2px solid red; */
  position: absolute;
  margin-top: -90px;
  margin-left: 80px;
  border-radius: 30px;
}
.facilitiesh h2{
  font-size: larger;
  font-weight: bold; 
   margin: -20px 550px;
   position: absolute;
   margin-left: 540px;
   margin-top: -40px;
   font-size: 1.5rem;
   /* /* border: 2px solid red; */
}
/* .facilitiest{ */
  



/* PLan ************ */
.planimg img{
  height: 50vh;
  width: 40vw;
  position: relative;
  border-radius: 15px;
  margin: 10px 510px;
}
.plantitle{
  margin: 0px 140px;
  font-size: 1.2rem;
  /* font-weight: bold; */
  margin-top: -40px;
}
.plantitle u{
  color: #3d6828;
  font-weight: bolder;
  font-size: 1.5rem;
}
.planp{
  color: red;
  width: 30vw;
  margin-top: -80px;
  margin-left: 20px;
}
.planlog{
  font-size: 1.5rem;
  margin-left: 50px;
}
.planlog u{
  color: #3d6828;
  font-weight: bolder;
}





.exp{
  margin-left: 50px;
  text-align: left;
}
.exp h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 20px;
}

.luch{
  margin-left: 50px;
  text-align: left;
}

.luch h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 20px;
}

.access{
  margin-left: 70px;
  text-align: left;
}
.access h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 20px;
  margin-left: 0px;
}
.hours{
  margin-left: 70px;
  text-align: left;
}
.hours h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 20px;
  margin-left: 0px;
}

.trip{
  margin-left: 70px;
  text-align: left;
}
.trip h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 20px;
  margin-left: 0px;
}

.bookbtn{
  background-color: #3d6828;
  width: 90vw;
  height: 5vh;
  color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  /* margin-left: 15px; */
}
.book{
  text-align: center;
  margin-top: 40px;
}


/* *****Donate section starts ****** */
.donate-main{
  background-image : linear-gradient(#775847D4 , #355326C2 );
  /* border: 2px solid red;*/
  /* margin-top: 40px; */
  height: 230px;
  
}
.donatebtn{
  background-color: #355326;
  color: white;
  width: 190px;
  height: 30px;
  margin-top: 10px;
  margin-right: 80px;
  border-radius: 5px;
  margin-left: 730px;
  
}
.donateh3{
  color: white;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 60px ;
  /* margin-top: 260px; */
  padding-top: 45px;
  /* border: 2px solid  rebeccapurple; */
}
.donatep{
  color: white;
  text-align: center;
  width: 650px;
  justify-content: center;
  margin-left: 450px;
}

.donatediv h3{
  margin-top: 60px;
}
/* *****Donate section ends ****** */


/* ************ Footer starts *********** */

.footer{
  position: relative;
  bottom: 0;
  height: 45vh;
  width: 100%;
  background: #B39D96;
  color: #ffff;
  padding: 15px 70px;
  /* margin-top: 2200px; */
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}
.footer-top .footer-right, .footer-left li{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.footer-sub-left{
  width: 40%;
}
.footer-left h2{
  margin-left: 30px;
}
.footer-left li{
  list-style: none;
  line-height: 35px;
}
.footer-sub-right{
  width: 40%;
  margin-top: 5rem;
}
.footer-btn{
  background: #775847 !important;
  padding: 0px 20px;
  border: none !important;
  color: #ffff;
  font-weight: 400 !important;
  font-size: 20px !important;
}
.footer-icon{
  text-align: right;
}
.footer-icon i{
  color: #775847;
  text-align: center;
  font-size: 25px;
  padding-top: 3.5px;
  padding: 5px;
}

.follow{
  margin-top: 40px;
  position:relative;
  width: 360px;
  margin-left: -80px;
}
/* ************ Footer ends *********** */





/* *********************** explore page css  end *************************** */